@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

*{  
  font-family: "Madimi One", sans-serif;
  color: aliceblue;
}

::-webkit-scrollbar {
  display: none;
}

body{  
  width: 100%;  
  width: 100%;
  height: 100%; 
  background-color: #313131;
  background-image: radial-gradient(rgba(255, 255, 255, 0.171) 2px, transparent 0);
  background-size: 30px 30px;
  background-position: -5px -5px
}

.wrap {
  width: 100%; 
  display: flex;
  justify-content: flex-start; 
  align-items: flex-start; 
  margin-left: 2rem; 
  width: calc(100% - 2rem); 

}

.form {
  max-width: 25rem;
  min-width: 25rem;
  width: 30%; 
  background-color: #404041;
  border-radius: 30px;
  margin-top: 3rem;  
  padding: 20px;
  font-weight: 400;
  font-size: 1.2rem;
  
}

h {
  flex: 1; 
  width: 70%;
  padding-top: 6%;
  padding-left: 2%;
  margin-left: 2rem; 
  font-size: 3rem;
  text-align: left;
}

.parse_page {
  display: flex;
  justify-content: flex-start; 
  align-items: flex-start; 
  padding-left: 15rem;
}

.save-delete {
  border-radius: 10px;
  background-color: #2e2d2d;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 17px;
  padding: 16px;
  width: 130px;
  margin: 10px auto;
  display: block; 
  transition: all 0.5s;
}

.save-delete:hover {
  background-color: #484848;
}

.checkbox {
  accent-color: rgb(28, 28, 30);
  margin-left: 2rem;  
}


#id_product{
  margin-left: 1rem;
  border-radius: 10px;
  background-color: #2e2d2d;
  border: none;
  color: #ffffff;
  text-align: center;  
  font-size: 17px;
}

#id_product:focus{
  outline: none;
}



/* result of parsing */
.response{  
  margin: 0 auto; 
  width: 80%;  
  p{    
    margin-left: 2rem;
    margin-top: 2rem;
    background-color:#404041;
    border-radius: 1rem;
    padding: 2rem;
    a{
      display: block;
    }
    button {    
      border-radius: 1rem;
      background-color: #2e2d2d;
      border: none;
      color: #FFFFFF;
      text-align: center;
      font-size: 17px;
      padding: 16px;
      width: 130px;
      transition: all 0.5s;      
      margin: 5px auto;
     }
  
    button:hover{
      background-color: #484848;
    }
  }    
}

.price{  
  float: right;
}

nav{  
  width: 60rem;  
  margin: 1rem auto 0;
}

/* logout button  */
button{
  padding-top: 5%;  
  img{
    display: block;
    height: 1.6rem;  
    width: 1.6rem;
  }
}

nav ul {
  background-color: #575757; 
  border-radius: 1rem;
  list-style: none;
  font-size: 1.5rem;
  text-align:start;
  padding-inline-start: 0rem;
  margin-bottom: 0px;
  span{
    font-size: 1.2rem;   
    float: right;    
    padding-top: 1%;
    color: rgb(255, 255, 255);
  }    
}

nav ul li {
  padding-left: 1%;
  background-color: #575757; 
  display: inline-block;
  margin: 0.5rem;   
  
}

nav ul a {
  color: #ffffff;
  text-decoration: none;
  background-color: #575757; 
  text-align: right;
}

nav ul a:active {
  text-decoration: underline;
}

.useTable{
  display: flex;
  padding: 0%;
  font-size: 1.8rem;
  img{
    height: 5rem;
    width:  5rem;
    margin-top: 15rem;
  }
}

.infoUse{
  padding: 0%;
  text-align: center;
  margin: 1rem;
  background-color: #575757;
  min-width: 25rem;
  height: 25rem;
  border-radius: 5rem;
  margin-top: 5rem;
  padding: 1rem;
  h{
    font-size: 2.2rem;
    padding-right: 2rem;
  }
  p{
    font-size: 1.5rem;
  }
  .inline-steps {
    text-align: left;    
    padding-left: 2rem; 
    line-height: 1.6;
  }

  a{       
    color: #ffffff; 
  } 

  .inline-second-chunk{
    padding: 2rem;       
  }

  .sitesImages{    
    display: flexbox;
    margin-top: 0.5rem;    
    height: 2rem;    
  }
  #olx {
    width: 2rem;
  }
}

nav ul a:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.1rem;
}

#register {
  float: right;
}

.btn_reg{
  background-color: rgb(128, 128, 128);
  color:rgb(42, 92, 137);  
}

.login_form{  
  min-height: 12rem;
  width: 20rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 350px;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  text-align: center;

  input {
    max-width: 190px;
    height: 44px;
    background-color: #05060f0a;
    border-radius: .5rem;
    padding: 0 1rem;
    border: 2px solid transparent;
    font-size: 1rem;
    transition: 
      border-color .3s cubic-bezier(.25,.01,.25,1) 0s, 
      color .3s cubic-bezier(.25,.01,.25,1) 0s, 
      background .2s cubic-bezier(.25,.01,.25,1) 0s;
    color: #05060f99;
  }

  p{
    color: #05060f99;
    font-size: .9rem;
    font-weight: bold;
  }

   label {
    display: block;
    margin-bottom: .3rem;
    font-size: .9rem;
    font-weight: bold;
    color: #05060f99;
    transition: color .3s cubic-bezier(.25,.01,.25,1) 0s;
  }

  input:hover, .input:focus, .input-group:hover .input {
    outline: none;
    border-color: #05060f;
  }

  input-group:hover .label, .input:focus {
    color: #05060fc2;
  }

  button {
    
    border-radius: 4px;
    background-color: #2e2d2d;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 17px;
    padding: 16px;
    width: 130px;
    transition: all 0.5s;
    
    margin: 5px auto;
   }

  button:hover{
    background-color: #484848;
  }

  div{
    margin-top: 1%;
    margin-left: 30px;
  }
  
  .errorlist {    
    background-color: #f7a9af; 
    border: 1px solid #f5c6cb; 
    padding: 10px; 
    border-radius: 5px; 
    font-weight: bold; 
  }
  
  .errorlist li {
    list-style-type: none; 
    margin: 5px 0; /
  }
}

.errorlist {    
  background-color: #f7a9af; 
  border: 1px solid #f5c6cb; 
  padding: 10px; 
  border-radius: 5px; 
  font-weight: bold; 
}

.logout_form{  
  button{
    width: 70px;        
    border: none;
    background: transparent;        
  }
  float: right;
   margin-left: auto;
  margin-right: 0.3rem;
  margin-top: 0.3rem;
  width: fit-content;
  border-radius: 1rem;
}



.parent-sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5%;    
}

.sign-up{  
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 350px;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  text-align: center;
  
  input {
    max-width: 190px;
    height: 44px;
    background-color: #05060f0a;
    border-radius: .5rem;
    padding: 0 1rem;
    border: 2px solid transparent;
    font-size: 1rem;
    transition: 
    border-color .3s cubic-bezier(.25,.01,.25,1) 0s, 
    color .3s cubic-bezier(.25,.01,.25,1) 0s, 
    background .2s cubic-bezier(.25,.01,.25,1) 0s;
    color: #05060f99;
  }
  
  p{
    color: #05060f99;
    font-size: .9rem;
    font-weight: bold;
  }

  label {
  display: block;
    margin-bottom: .3rem;
    font-size: .9rem;
    font-weight: bold;
    color: #05060f99;
    transition: color .3s cubic-bezier(.25,.01,.25,1) 0s;
  }

  input:hover, .input:focus, .input-group:hover .input {
    outline: none;
    border-color: #05060f;
  }

  input-group:hover .label, .input:focus {
    color: #05060fc2;
  }

  button {    
    border-radius: 4px;
    background-color: #2e2d2d;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 17px;
    padding: 16px;
    width: 130px;
    transition: all 0.5s;    
    margin: 5px auto;
   }

  button:hover{
    background-color: #484848;
  } 
}

.helptext{
  visibility: hidden;
  width: 0;
  height: 0;
}

