@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

*{  
  font-family: "Madimi One", sans-serif;
  color: aliceblue;
}

::-webkit-scrollbar {
  display: none;
}

body{  
  width: 100%;  
  width: 100%;
  height: 100%; 
  background-color: #313131;
  background-image: radial-gradient(rgba(255, 255, 255, 0.171) 2px, transparent 0);
  background-size: 30px 30px;
  background-position: -5px -5px
}

.parse_page{
  display: flex; 
  font-size: 5rem; 
  overflow: hidden;  
  .form{ 
    background-color:#404041;  
    border-radius: 1rem; 
    min-width: 25rem;
    max-height: 25rem;
    div{            
      border-radius: 1rem;    
      padding-top: 0rem;  
    }  
    label{
      font-size: 1.3rem;      
    }  
  }   
   
  fieldset{    
    legend{
      padding: 0%;
    }
    .checkbox{ 
      padding: 0%;     
      div{
        background-color: #76c2e7;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-top: 0.2rem;
        max-height: 2rem;
        padding-bottom: 0;
      }
      label{
        margin-top: 0rem;
        max-height: 0.2rem;
        align-self: start;
      }      
    }
  }    
  .input {
    font-weight: 500;
    font-size: .8vw;
    color: #fff;
    background-color: rgb(28,28,30);
    box-shadow: 0 0 .4vw rgba(0,0,0,0.5), 0 0 0 .15vw transparent;
    border-radius: 0.4vw;
    border: none;
    outline: none;
    padding: 0.4vw;
    max-width: 17rem;
    transition: .4s;
    margin-left: 1rem;
  }  
  .input:focus {
    box-shadow: 0 0 0 .15vw rgb(255, 255, 255);
  }
  .button-find{      
    border-radius: 1rem;
    background-color: #2e2d2d;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 17px;
    padding: 16px;
    width: 130px;
    transition: all 0.5s;      
    margin: 5px auto;
   }

  .button-find:hover{
    background-color: #484848;
  }
  

}

/* result of parsing */
.response{  
  margin: 0 auto; 
  width: 80%;  
  p{    
    margin-left: 2rem;
    margin-top: 2rem;
    background-color:#404041;
    border-radius: 1rem;
    padding: 2rem;
    a{
      display: block;
    }
    button {    
      border-radius: 1rem;
      background-color: #2e2d2d;
      border: none;
      color: #FFFFFF;
      text-align: center;
      font-size: 17px;
      padding: 16px;
      width: 130px;
      transition: all 0.5s;      
      margin: 5px auto;
     }
  
    button:hover{
      background-color: #484848;
    }
  }    
}

.price{  
  float: right;
}

nav{  
  width: 60rem;  
  margin: 1rem auto 0;
}

/* logout button  */
button{
  img{
    display: block;
    height: 2rem;  
    width: 2rem;
  }
}

nav ul {
  background-color: #575757; 
  border-radius: 1rem;
  list-style: none;
  font-size: 1.5rem;
  text-align:start;
  padding-inline-start: 0rem;
  margin-bottom: 0px;
  span{
    font-size: 1.2rem;   
    float: right;    
    padding-top: 1%;
    color: rgb(200, 200, 200);
  }    
}

nav ul li {
  padding-left: 1%;
  background-color: #575757; 
  display: inline-block;
  margin: 0.5rem;   
  
}

nav ul a {
  color: #EDEFEE;
  text-decoration: none;
  background-color: #575757; 
  text-align: right;
}

nav ul a:active {
  text-decoration: underline;
}

nav ul a:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.1rem;
}

#register {
  float: right;
}

.btn_reg{
  background-color: rgb(128, 128, 128);
  color:rgb(42, 92, 137);  
}

.login_form{  
  min-height: 12rem;
  width: 20rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 350px;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  text-align: center;

  input {
    max-width: 190px;
    height: 44px;
    background-color: #05060f0a;
    border-radius: .5rem;
    padding: 0 1rem;
    border: 2px solid transparent;
    font-size: 1rem;
    transition: 
      border-color .3s cubic-bezier(.25,.01,.25,1) 0s, 
      color .3s cubic-bezier(.25,.01,.25,1) 0s, 
      background .2s cubic-bezier(.25,.01,.25,1) 0s;
    color: #05060f99;
  }

  p{
    color: #05060f99;
    font-size: .9rem;
    font-weight: bold;
  }

   label {
    display: block;
    margin-bottom: .3rem;
    font-size: .9rem;
    font-weight: bold;
    color: #05060f99;
    transition: color .3s cubic-bezier(.25,.01,.25,1) 0s;
  }

  input:hover, .input:focus, .input-group:hover .input {
    outline: none;
    border-color: #05060f;
  }

  input-group:hover .label, .input:focus {
    color: #05060fc2;
  }

  button {
    
    border-radius: 4px;
    background-color: #2e2d2d;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 17px;
    padding: 16px;
    width: 130px;
    transition: all 0.5s;
    
    margin: 5px auto;
   }

  button:hover{
    background-color: #484848;
  }

  div{
    margin-top: 1%;
    margin-left: 30px;
  }
  
  .errorlist {    
    background-color: #f7a9af; 
    border: 1px solid #f5c6cb; 
    padding: 10px; 
    border-radius: 5px; 
    font-weight: bold; 
  }
  
  .errorlist li {
    list-style-type: none; 
    margin: 5px 0; /
  }
}

.errorlist {    
  background-color: #f7a9af; 
  border: 1px solid #f5c6cb; 
  padding: 10px; 
  border-radius: 5px; 
  font-weight: bold; 
}

.logout_form{  
  button{
    width: 70px;        
    border: none;
    background: transparent;        
  }
  float: right;
   margin-left: auto;
  margin-right: 0.3rem;
  margin-top: 0.3rem;
  width: fit-content;
  border-radius: 1rem;
}



.parent-sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5%;    
}

.sign-up{  
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 350px;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  text-align: center;
  
  input {
    max-width: 190px;
    height: 44px;
    background-color: #05060f0a;
    border-radius: .5rem;
    padding: 0 1rem;
    border: 2px solid transparent;
    font-size: 1rem;
    transition: 
    border-color .3s cubic-bezier(.25,.01,.25,1) 0s, 
    color .3s cubic-bezier(.25,.01,.25,1) 0s, 
    background .2s cubic-bezier(.25,.01,.25,1) 0s;
    color: #05060f99;
  }
  
  p{
    color: #05060f99;
    font-size: .9rem;
    font-weight: bold;
  }

  label {
  display: block;
    margin-bottom: .3rem;
    font-size: .9rem;
    font-weight: bold;
    color: #05060f99;
    transition: color .3s cubic-bezier(.25,.01,.25,1) 0s;
  }

  input:hover, .input:focus, .input-group:hover .input {
    outline: none;
    border-color: #05060f;
  }

  input-group:hover .label, .input:focus {
    color: #05060fc2;
  }

  button {    
    border-radius: 4px;
    background-color: #2e2d2d;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 17px;
    padding: 16px;
    width: 130px;
    transition: all 0.5s;    
    margin: 5px auto;
   }

  button:hover{
    background-color: #484848;
  } 
}

.helptext{
  visibility: hidden;
  width: 0;
  height: 0;
}

