{% extends 'index.html' %}
{% load static %}

{% block content %}

<div class="response">
    {% for product_name, product_price, product_url, product_image in product %}    
    <form method="post" action="{% url 'save_good' %}">
        {% csrf_token %}
        <input type="hidden" name="product_name" value="{{ product_name }}">
        <input type="hidden" name="product_price" value="{{ product_price }}">
        <input type="hidden" name="product_url" value="{{ product_url }}">
        <p>        
            <span class="items">
                {{ product_name }} 
                <span class="price">
                    {{ product_price }}                
                </span>
            </span> 
            <a href="{{ product_url }}" >Click here to see in store</a>
            <img src="{{ product_image }}">
            <button type="submit" class="save-delete">Save Good</button> 
        </p>
    </form>                 
    {% endfor %}          
</div> 


{% endblock %}