{% extends 'index.html' %}
{% load static %}

{% block content %}
    <div class="parse_page">          
        <div class="wrap"> 
                <form action="" method="post" class="form">    
                {% csrf_token %}    
                {{ form }}
                <input type="submit" value="find" class="save-delete">
                </form>        
            <h>Choose a site<br/>Write a good's name<br/>Find the best option</h>     
                
        </div>   
    </div> 
{% endblock %}



