{% extends 'index.html' %}
{% load static %}

{% block content %}

<div class="response">
    {% for product_name, product_price, product_url in product %}    
    <form method="post" action="{% url 'save_good' %}">
        {% csrf_token %}
        <input type="hidden" name="product_name" value="{{ product_name }}">
        <input type="hidden" name="product_price" value="{{ product_price }}">
        <input type="hidden" name="product_url" value="{{ product_url }}">
        <p>        
            <span class="items">
                {{ product_name }} 
                <span class="price">
                    {{ product_price }}                
                </span>
            </span> 
            <a href="{{ product_url }}" >Click here to see in store</a>
            <button type="submit">Save Good</button> <!-- Button to trigger saving -->
        </p>
    </form>                 
    {% endfor %}          
</div> 
{% endblock %}