{% extends 'index.html' %}
{% load static %}

{% block content %}
<div class="response">  
    {% for object in context %}         
            <form method="post" action="" > 
                <p>
                    <span class="items">
                        {{object.title}}
                        <span class="price">
                            {{object.price}}               
                        </span>
                    </span> 
                    <a href="{{object.url}}" >Click here to see in store</a>
                    
                {% csrf_token %}             
                <input type="hidden" name="product_id" value="{{ object.id }}" >
                <button type="submit" class="save-delete">Delete Good</button>
            </p>
            </form>              
    {% endfor %}          
</div>  
{% endblock %}