{% load static %}
<nav id="col">
  <ul>
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'parse' %}">Parse</a></li>    
    {% if user.is_authenticated %}      
      <li><a href="{% url 'saved' %}">Saved</a></li>
      <li class="logout_form">
        <form class ="logout_form" method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit" ><img src="{% static 'images/exit.png' %}"  /></button>
       </form>
      </li>
      <span>{{ user.username }} |</span> 

    {% else %}
      <li id="register"><a href="{% url 'login' %}">Login</a></li>
    {% endif %}
  </ul>   
</nav>